  .testimony {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgb(255, 255, 255, 0.2);
      margin-block-start: 80px;
      margin-block-end: 80px;
      padding: 24px;
      border-radius: 24px;
      border: 3px solid var(--white);
      /* border: 4px solid transparent;
    border-image: radial-gradient(83.14% 78.52% at -12.32% -18.69%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%)1; */
      /*Trying to put a gradient in this border lmao, completely failed*/
  }
  
  .testimony .testimony__pic--first {
      inline-size: 64px;
      block-size: 64px;
      background-image: url('../assets/oscarito.jpg');
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-block-end: 24px;
  }
  
  .testimony h2 {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 25px;
      margin-block-end: 24px;
  }
  
  .testimony p {
      font: var(--caption);
  }
  
  @media screen and (min-width: 768px) {
      .testimony {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: rgba(255, 255, 255, 0.2);
          padding: 80px;
      }
      .testimony .testimony__pic--first {
          inline-size: 80px;
          block-size: 80px;
          background-image: url('../assets/oscarito.jpg');
          border-radius: 50%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
      .testimony h2 {
          font-weight: 700;
          font-size: 3.4rem;
          line-height: 55px;
      }
      .testimony p {
          font: var(--headline5);
          opacity: 0.5;
      }
  }